<div class="cards">
  <!-- border-start-3  -->
  @if (employeeData.length > 0) {
  <div class="row row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-sm-1 d-flex border border-light" id="user-cards">
    @for (user of employeeData; track $index) {
    <div class="col mb-3">
      <div class="card text-center">
        <div class="card-header">
          <div class="row pt-0 justify-content-between">
            <div class="form-check col-auto">
              <input class="form-check-input" type="checkbox" name="flexRadioDefault" />
            </div>
            <div class="col-auto gap-2">
              <button type="button" class="btn btn-light p-5px" (click)="setDelete(user.id)">
                <i class="bi bi-pencil-fill"></i>
              </button>
              <button type="button" class="btn btn-danger p-5px">
                <i class="bi bi-trash3"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <img [src]="'assets/avathar_profile.png'" alt="Profile picture of {{ user.firstName }} {{ user.lastName }}"
            class="img-fluid card-image" />
          <h5 class="card-title">{{ user.firstName }} {{ user.lastName }}</h5>
          <div class="card-text">
            <h6 class="text-ellipse" title="{{ user.email }}">
              {{ user.email }}
            </h6>
            <p title="{{ user.contactNumber }}">{{ user.contactNumber }}</p>
          </div>
          <div class="row d-flex justify-content-between align-items-center">
            <span class="col-4 card-text">Age <br />{{ user.employee_age }}</span>
            <span class="col-4 card-text">DOB <br />{{ user.dob }}</span>
            <span class="col-4 card-text text-ellipse" title="{{ user.employee_salary }}">Salary <br />{{
              user.employee_salary }}</span>
          </div>
          <a class="btn btn-primary" target="_blank">View profile</a>
        </div>
      </div>
    </div>
    }
  </div>
  } @else {
  <h1>No Data Available</h1>
  }

  <!-- Pagination container -->
  <div class="pagintion">
    <div class="row justify-content-between align-items-center">
      <div id="pagination" class="col-auto"></div>
      <div class="col-auto">
        <label for="itemsPerPageSelect">Items per page:</label>
        <select aria-label="Default select example" name="itemsPerPageSelect" id="itemsPerPageSelect">
          <option value="8">8</option>
          <option value="12">12</option>
          <option value="16">16</option>
          <option value="20">20</option>
        </select>
      </div>
    </div>
  </div>
</div>