<main class="content-container border border-5 pl-5 overflow-hidden">
  <div
    class="content-header d-flex mt-3 border border-light bg-white p-2 justify-content-between align-items-center"
  >
    <div class="search-bar align-items-center">
      <span><i class="bi bi-search"></i></span>
      <input
        type="search"
        placeholder="Filter users"
        [(ngModel)]="searchTerm"
        (input)="employeeList.searchbar(searchTerm)"
      />
    </div>
    @if (count > 0) {
    <p>Selected cards count {{ count }}</p>
    <div class="gap-2">
      <button class="btn btn-primary" type="button" (click)="toggleSelectAll()">
        {{ count === employeedata.length ? "Diselect All" : "Select All" }}
      </button>
      <button
        class="btn btn-danger"
        type="button"
        (click)="openModal('BulkDelete')"
      >
        Delete
      </button>
    </div>
    }
    <button
      type="button"
      class="btn btn-primary"
      (click)="openModal('AddDetails')"
    >
      New User
    </button>
  </div>
  <div class="row m-2 border fst-italic border-light border" id="count"></div>
  <app-employee-list></app-employee-list>
</main>
